<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://vnextaddconnectweb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>vnextaddconnectweb.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>vNextADDConnectWeb</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$vNextADDConnectWeb</UserName>
    <_SavePWD>True</_SavePWD>
    <ADUsesOwinOrOpenIdConnect>true</ADUsesOwinOrOpenIdConnect>
    <CompileSource>False</CompileSource>
    <UsePowerShell>True</UsePowerShell>
    <WebRoot>wwwroot</WebRoot>
    <_DestinationType>AzureWebSite</_DestinationType>
    <EnableADPublish>true</EnableADPublish>
    <ADAppIDUri>https://sporrasaad.onmicrosoft.com/WebApp-vnextaddconnectweb.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADClientAPPID>7a75e61f-8ee8-42cc-bdb1-be45ece9ca11</ADClientAPPID>
    <ADClientPassword>d59H8knWlMhLJxHEtHnIV7Cy7YRGr4aJD6kT32AXd4I=</ADClientPassword>
    <ADReplyUrl>https://vnextaddconnectweb.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>e2ae46f8-e079-446f-8214-2ebdf91c8d77</ADTenantId>
    <ADPostLogoutRedirectUri>https://vnextaddconnectweb.azurewebsites.net/</ADPostLogoutRedirectUri>
    <PublishDNXVersion />
  </PropertyGroup>
</Project>